/* CSS Document */
	/*::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }*/
	.bar {
    height: 18px;
    background: green;
}
	@font-face 
	{ 
		font-family: 'GOTHIC'; 
		src: url('../css/GOTHIC.TTF');
		format('ttf'); 
	} 
	body 
	{
		background-color: #000;
		margin: 10px 40px 0 40px;
		font-family: 'GOTHIC';
		color: #4F5155;
		overflow-x: hidden;
	}
	#encabezado
	{
		/*background-image:url(../imagenes/editar.png);*/
		background-color:#1F4C78;  /*==========================================================================color de la barra del banner==================================================================*/
		display:inline-block;
		width:100%;
		height:auto;
		vertical-align:middle;
		background-size:100%;
		background-position:50% 50%;
		background-repeat:no-repeat;
		padding:1%;
		color:#FFF; /*=============================================================================================color de letras===============================================================================*/
		font-size:20px;
		height:auto;
	}
	/*Ligadas a Bootstrap*/
	.center-table
	{
		margin: 0 auto !important;
		float: none !important;
	}
	.table-nonfluid 
	{
  		width: auto !important;
	}
	.table td
	{
   		text-align: center;   
	}
	/*Fin ligadas a Bootstrap */
	a
	{
		color: #003399;
		background-color: transparent;
		font-weight: normal;
		text-decoration:none
	}

	h1 {
		color: #fff;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	code {
		/*font-family: Consolas, Monaco, Courier New, Courier, monospace;*/
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}
	p.footer
	{
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
	
	#container
	{
		margin: 0 auto;
		/*text-align:center;*/
		border: 1px solid #fff;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
		width:100%;
		min-height:400px;
		height:auto;
		padding-top:30px;
                
	}
	#membrete1
	{
		background-image:url(../imagenes/membrete1.png);
		display:inline-block;
		width:100%;
		height:80px;
		vertical-align:middle;
		background-size:100%;
		background-position:10% 10%;
		background-repeat:no-repeat
	}
	.br
	{
		clear:both;		
	}
	
	#pie
	{
		text-align:center;
		width:100%;
		height:50px;
		margin:0 auto;
		overflow:hidden
	}
	.tablaInicioSession
	{
		width:15%;
		text-align:center;
		margin:100px auto 200px auto;
		border: solid 1px #0099FF	
	}
	#inicioSesion
	{
		width:100%;		
	}
	.tablaCasosUsos 
	{
		width:auto;;
		text-align:center;
		margin:20px auto 10px;
		border: solid 1px #666666;
		text-align:center;
		border-collapse:collapse
	}
	.tabla_busqueda_avanzada
	{
		margin:0 auto;
		background-color:#FFFFCA;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding:10px		
	}
	.tabla_busqueda_avanzada td
	{
		padding:5px	
	}
	.tablaCasosUsos th
	{
		 background-color:#428bca;
		 font-size:16px;
		 color:#FFF;
		 height:30px
	}
	.tablaCasosUsos td
	{
		padding:15px;
		text-align:left;
		border:1px solid #666;
		margin:0;
	}
	.div_centrado
	{
		width:85%;
		margin:50px auto;
		padding:10px 0 0 250px;
		display:block;
		/*float:right*/
	}
	.div_centrado_operaciones_opciones
	{
		/*width:85%;*/
		margin:50px auto;
		padding:10px 0 0 250px
	}
	.tablaOperaciones
	{
		margin:50px auto;
		border:1px solid #666;	
		width:auto;
	}
	.tablaOperaciones th
	{
		 background: -webkit-linear-gradient(grey, white);
		 background: -moz-linear-gradient(grey, white);
		 background: -o-linear-gradient(grey, white);
	}
	.tablaOperaciones td
	{
		
	}
	
	.link_img
	{
		cursor:pointer;
	}
	.botonRegresar
	{
		background-image:url(../imagenes/regresar.png);
		height:32px;
		width:32px;
		display:block;
		margin:0 auto;
	}
	
	
	/*CSS tabla listado*/
	.tabla_lista
	{
	  color: #333;
	  font-size: .9em;
	  font-weight: 300;
	  text-align: left;
	  line-height: 20px;
	  border-spacing: 0;
	  border: 1px solid #428bca;
	  width: auto;
	  min-width:400px;
	  margin: 20px auto;
	}
	
	/*.tabla_lista tr:hover
	{
		background: #b8d1f3;
	}*/
	.tabla_lista thead tr:first-child 
	{
	  background: #428bca;
	  color: #fff;
	  border: none;
	  text-align:center;
	  height:30px
	}
	
	.tabla_lista th
	{
		font-weight: bold;
		border:1px solid #428bca;
		text-align:center
	}
	
	.tabla_lista tbody tr:hover
	{
		background-color: #b8d1f3;
		cursor:pointer
	}

	.tabla_lista tbody td 
	{
		padding:10px 20px;
		/*border-bottom: 1px solid #ddd;*/
		border:1px solid #428bca;
		/*line-height: 100px;*/
	}


	.tabla_lista .button
	{
		color: #428bca;
		text-align: center;
		text-decoration: none;
		padding-left: 15px;
	}
	
	.tabla_lista .button:hover
	{
		text-decoration: underline;
		cursor: pointer;
	}
	
	/*Tabla Operaciones y Opciones*/
	
	.tabla_operaciones_opciones
	{
		color: #333;
		font-size: .9em;
		font-weight: 300;
		text-align: left;
		line-height: 40px;
		border-spacing: 0;
		border: 1px solid #428bca;
		width: 540px;
		margin: 0px auto 0px;
	}
	
	.tabla_operaciones_opciones th
	{
		color:white;
		font-weight: bold;
		border:1px solid #428bca;
		background-color:#6CACEC;
		/*text-align:center*/
	}
	
	.tabla_operaciones_opciones td 
	{
		padding:0px 30px;
		/*border-bottom: 1px solid #ddd;*/
		/*text-align:center;*/
		border:1px solid #428bca;
	}
	#pagination
	{
		margin:0 auto;
		text-align:center		
	}
	.mensajeOperacion
	{
		margin:0 auto;
		text-align:center;
		color:#096;
		font-size:18px;
		border:1px solid #069;
		width:600px;
		background-color:#CCC;
		font-weight:bold;
	}
	
	/*Mensajes*/
	.info, .success, .warning, .validation
	{
		/*font-size:13px !important;*/
		border: 1px solid;
		/*margin: 10px 0px;*/
		padding:15px 10px 15px 50px;
		background-repeat: no-repeat;
		background-position: 10px center;
	}
	.info
	{
		color: #00529B;
		background-color: #BDE5F8;
		width:20%;
		margin:10px auto;
		position:fixed;
		/*top:50%;*/
		left:50%;
		/*right:50%;*/
		margin-left: -200px;
		/*margin-top: -250px;*/
	}
	.info a
	{
		color: #666;
		/*background-color: #BDE5F8;
		width:20%;
		margin:100px auto*/
	}
	.success 
	{
		color: #4F8A10;
		background-color: #DFF2BF;
		/*background-image:url('success.png');*/
		width:20%;
		margin:100px auto
	}
	.warning
	{
		color: #9F6000;
		background-color: #FEEFB3;
		width:20%;
		margin:10px auto;
		position:fixed;
		/*top:50%;*/
		left:50%;
		/*right:50%;*/
		margin-left: -200px;
	}
	.informacion
	{
		color: #9F6000;
		background-color: #FEEFB3;
		width:auto;
		border: 1px solid;
		height:20px;
		padding:10px;
		/*top:50%;*/
		/*right:50%;*/

	}
	.error
	{
		color: #D8000C;
		background-color: #FFBABA;
		width:90%;
		margin:0 auto;
		padding:10px 5px 10px 10px;
	}
	.cerrarSesion
	{
		float:right;
		padding:10px 10px 0 0;
		display:inline-block; 
		vertical-align:middle
	}
	.tabla_campo_busqueda
	{
		margin:20px auto;
	}
	table.tabla_campo_busqueda tr td:nth-child(2)
	{
		background-image:url(../imagenes/search-icon.png);
		background-repeat: no-repeat;
		width:24px;
		height:24px;
	}
	#panel_control
	{
		/*margin:10px 40px 0 0;*/
		height:auto;
		width:100%;
		background-color:rgba(11, 0, 0, 0.56);  /*====================================================== color de barra superior ================================================================================*/
		color:white;
		z-index:1000;
		position:fixed;
		padding:1%;
	}
	
	/*redactar Correspondencia*/
	.tablaCorrespondencia
	{
		margin:0 200px;	
	}
	.asignar
	{
		background-color:#CCC;
		width:90%;	
		margin:0 auto;
	}
	table.asignar td
	{
		padding:20px;	
	}
    
    
/*=========================================================================================================Estilos del Menu ====================================================*/

  body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #ooo;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
 
